package app

import (
	"MrFood/services/{{.ServiceName}}/internal/repository"
	"MrFood/services/{{.ServiceName}}/internal/service"
)

type App struct {
	Service *service.Service
	Repo    *repository.Repository
}

func New() *App {
	repo := repository.New()
	svc := service.New(*repo)

	return &App{
		Service: svc,
	}
}
