package service

import (
	"MrFood/services/{{.ServiceName}}/internal/repository"
	models "MrFood/services/{{.ServiceName}}/pkg"
)

type Service struct {
	repo *repository.Repository
}

func New(repo *repository.Repository) *Service {
	return &Service{repo: repo}
}

func (s *Service) GetExample(id int) (*models.Example, error) {
	return s.repo.GetExample(id)
}
