package app

import (
	"context"
	"fmt"
	"log"
	"net"

	pb "MrFood/services/{{.ServiceName}}/internal/api/grpc/pb"

	"google.golang.org/grpc"
)

type server struct {
	pb.UnimplementedTemplateServiceServer
}

func (s *server) PingPong(ctx context.Context, req *pb.Ping) (*pb.Pong, error) {
	return &pb.Pong{
		Id: 1,
	}, nil
}

func RunServer() {
	lis, err := net.Listen("tcp", ":50051")
	if err != nil {
		log.Fatal(err)
	}

	s := grpc.NewServer()
	pb.RegisterTemplateServiceServer(s, &server{})

	fmt.Println("Server running on :50051")
	if err := s.Serve(lis); err != nil {
		log.Fatal(err)
	}
}
