syntax = "proto3";

package proto;

option go_package = "/pb;pb";

service TemplateService {
  rpc PingPong (Ping) returns (Pong);
  rpc ManyPings (stream Ping) returns (Pong);
  rpc ManyPongs (Ping) returns (stream Pong);
  rpc ManyPingPongs (stream Ping) returns (stream Pong);
}

message Ping {
  int32 id = 1;
}

message Pong {
  int32 id = 1;
}
